<div class="card">
  <div class="table-title">
    <h2>{{ title }}</h2>
  </div>
  <div class="table-concept">
    <input class="table-radio" type="radio" name="table_radio" id="table_radio_0" checked="checked"/>
    <div class="table-display"></div>
    <table>
      <thead>
      <tr>
        <th scope="col">Service</th>
        <th scope="col">Namespace</th>
        <th scope="col">GIT</th>
        <th scope="col">JENKINS</th>
        <th scope="col">OPENSHIFT</th>
        <th scope="col">SWAGGER</th>
        <th scope="col">STATUS</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let micro of micros">
        <td>{{micro.name}}</td>
        <td>{{micro.path}}</td>
        <td><a href="{{micro.git}}" target="_blank"><img width="50" alt="GIT" src="https://www.vectorlogo.zone/logos/gitlab/gitlab-icon.svg"/></a></td>
        <td><a href="{{micro.jenkins}}" target="_blank"><img width="50" alt="JKS" src="https://www.vectorlogo.zone/logos/jenkins/jenkins-icon.svg"/></a></td>
        <td><a href="{{micro.opc}}" target="_blank"><img width="50" alt="JKS" src="https://www.vectorlogo.zone/logos/openshift/openshift-icon.svg"/></a></td>
        <td><a href="{{micro.swagger}}" target="_blank">PRD</a></td>
        <td><a href="{{micro.dev}}" [style.color]="micro.probeDev ? 'green' : 'red'" target="_blank">DEV</a> |
          <a href="{{micro.hom}}" [style.color]="micro.probeHom ? 'green' : 'red'" target="_blank">HOM</a> |
          <a href="{{micro.prd}}" [style.color]="micro.probePrd ? 'green' : 'red'" target="_blank">PRD</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
